.content {
  padding: 30px;
  height: 100%;

  .leftSide {
    width: 450px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;

    border-right: 1px solid #eceff2;
    padding-right: 30px;

    .title {
      font-size: 28px;
      font-weight: 700;
      line-height: 38px;
      color: #39434f;
    }

    .basicInfo {
      margin-top: 20px;

      display: flex;
      gap: 20px;
      align-items: center;

      .avatar {
        width: 162px;
        height: 162px;
        border-radius: 50%;
        background-color: #eceff2;

        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 128px;
          height: 128px;
          border-radius: 50%;
          object-fit: cover;
        }
      }

      .info {
        display: flex;
        flex-direction: column;
        gap: 6px;

        .nameContainer {
          display: flex;
          gap: 10px;
          align-items: center;
          gap: 12px;

          .name {
            font-size: 22px;
            font-weight: 600;
            line-height: 30px;
            color: #39434f;
          }

          .editButton {
            width: 38px;
            height: 38px;

            border-radius: 14px;
            border: 1px solid #1b85f3;

            background-color: #ffffff;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
              width: 20px;
              height: 20px;
            }
          }
        }

        .tags {
          display: flex;
          gap: 6px;
          align-items: center;

          .tag {
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            color: #808b9a;
          }

          .divider {
            width: 1px;
            height: 10px;
            background-color: #eceff2;
          }
        }
      }
    }

    .subtitle {
      font-size: 18px;
      font-weight: 600;
      line-height: 24px;
      color: #39434f;
    }

    section.appereance {
      margin-top: 24px;
      display: flex;
      flex-direction: column;
      gap: 8px;

      p {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        color: #606873;
      }
    }

    section.characteristics {
      margin-top: 16px;
      display: flex;
      flex-direction: column;
      gap: 10px;

      .item {
        display: flex;
        gap: 12px;
        align-items: center;
        justify-content: space-between;
        height: 28px;

        .label {
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          color: #606873;
        }

        .value {
          font-size: 16px;
          font-weight: 600;
          line-height: 28px;
          color: #39434f;
        }
      }

      .divider {
        width: 100%;
        height: 1px;
        background-color: #eceff2;
      }
    }

    section.importantDates {
      margin-top: 32px;

      .subtitle {
        margin-bottom: 20px;
      }

      .divider {
        width: 100%;
        height: 1px;
        background-color: #eceff2;
        margin-top: 16px;
        margin-bottom: 16px;
      }

      .item {
        display: flex;
        gap: 10px;
        align-items: center;
        min-height: 54px;

        .iconContainer {
          width: 50px;
          height: 50px;
          border-radius: 12px;
          background-color: #d1e6ff80;
          display: flex;
          justify-content: center;
          align-items: center;

          img {
            width: 24px;
            height: 24px;
          }
        }

        .info {
          display: flex;
          flex-direction: column;
          gap: 2px;

          .label {
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            color: #606873;
          }

          .value {
            font-size: 16px;
            font-weight: 600;
            line-height: 28px;
            color: #39434f;
          }
        }

        .age {
          margin-left: auto;

          font-size: 16px;
          font-weight: 600;
          line-height: 28px;
          color: #39434f;
        }
      }
    }

    section.caretakers {
      margin-top: 32px;

      .subtitle {
        margin-bottom: 20px;
      }

      .item {
        display: flex;
        gap: 16px;
        align-items: center;
        min-height: 54px;

        .avatar {
          width: 54px;
          height: 54px;
          border-radius: 50%;
          object-fit: cover;
        }

        .info {
          display: flex;
          flex-direction: column;
          gap: 2px;

          .name {
            font-size: 16px;
            font-weight: 600;
            line-height: 24px;
            color: #39434f;
          }

          .email {
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            color: #606873;
          }
        }
      }

      .divider {
        width: 100%;
        height: 1px;
        background-color: #eceff2;
        margin-top: 20px;
        margin-bottom: 20px;
      }
    }
  }
}
