.page {
  height: 100vh;
  width: 100%;

  background: linear-gradient(0deg, #fafafa, #fafafa),
    linear-gradient(0deg, #fafafa, #fafafa),
    linear-gradient(179.97deg, rgba(217, 217, 217, 0) 0.03%, #d9d9d9 54.92%);

  box-shadow: 0px 4px 20px -2px #32324705;

  box-shadow: 0px 0px 8px 0px #0c1a4b1a;
  overflow: hidden;
}

.logo {
  margin: 50px auto 0;
}

.dog {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transform: translateY(12%) scale(1.3);
}
