.background2 {
  background-color: #fafafa;
}

.page {
  height: 100vh;
  max-height: 100vh;
  width: 100%;

  background: linear-gradient(
    0deg,
    rgb(217, 217, 217) 0%,
    rgba(253, 0, 0, 0) 90%,
    rgba(217, 217, 217, 0) 100%
  );

  box-shadow: 0px 4px 20px -2px #32324705;

  box-shadow: 0px 0px 8px 0px #0c1a4b1a;

  overflow: hidden;

  display: flex;

  .leftSide {
    flex: 1;
    .logo {
      margin: 50px;
    }

    .dog {
      width: auto;
      height: 100vh;
      object-fit: cover;
      transform: translateY(-8vh) translateX(5vw) scale(1.6);
    }
  }

  .rightSide {
    flex: 1;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px;

    .card {
      position: relative;
      background-color: #ffffff;
      border-radius: 20px;
      padding: 50px;
      width: 100%;
      max-width: 620px;

      display: flex;
      flex-direction: column;

      .mainIcon {
        width: 128px;
        height: 128px;
        background-color: #ffffff;
        border-radius: 50%;
        position: absolute;
        left: 50%;
        top: 0;
        transform: translateX(-50%) translateY(-50%);

        display: flex;
        align-items: center;
        justify-content: center;

        .decorator {
          width: 96px;
          height: 96px;
          border: 3px solid #d1e6ff;
          border-radius: 50%;
          position: absolute;

          display: flex;
          align-items: center;
          justify-content: center;

          .icon {
            width: 48px;
            height: 48px;
          }
        }
      }

      .topSide {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
        padding-block: 48px;

        flex: 1;

        .title {
          font-family: "Catamaran";
          font-size: 34px;
          font-weight: 700;
          line-height: 42px;
          text-align: center;
          color: #39434f;
        }

        .description {
          margin: 0 auto;
          font-size: 18px;
          font-weight: 400;
          line-height: 30px;
          text-align: center;
          margin-top: 20px;
          color: #808b9a;

          max-width: 350px;
        }

        .form {
          display: flex;
          flex-direction: column;
          align-items: stretch;
          justify-content: center;
          margin-top: 40px;

          gap: 26px;

          .formItem {
            display: flex;
            flex-direction: column;
            align-items: stretch;
            justify-content: center;
            gap: 4px;

            .error {
              color: #ff0000;
              font-size: 12px;
              font-weight: 400;
            }
          }

          .input {
            width: 100%;
            height: 54px;
            border-radius: 14px;
            border: 1px solid #d9dfe6;
            padding: 18px 16px;

            font-size: 16px;
            font-weight: 500;
            line-height: 18px;
            color: #39434f;

            background-color: #ffffff;
            outline: 2px solid transparent;
            transition: all 0.3s ease;

            &::placeholder {
              font-size: #808b9a;
              font-weight: 400;
              line-height: 18px;
            }

            &:focus {
              border: 1px solid #1b85f3;
              outline: 2px solid #d1e6ff;
            }

            &.errorInput {
              border: 1px solid #ff0000;
            }

            &.errorInput:focus {
              border: 1px solid #ff0000;
              outline: 2px solid #ffb3b3;
            }
          }

          .passwordContainer {
            width: 100%;
            position: relative;
            .eyeIcon {
              width: 20px;
              height: 20px;

              position: absolute;
              top: 50%;
              right: 16px;
              transform: translateY(-50%);
              cursor: pointer;
            }
          }

          .checkboxContainer {
            display: flex;
            align-items: center;
            gap: 8px;

            .checkbox {
              position: relative;
              appearance: none;
              width: 20px;
              height: 20px;
              border-radius: 4px;
              border: 1px solid #c6ced9;
              cursor: pointer;
              transition: all 0.3s ease;

              &:checked {
                background-color: #1b85f3;
                border-color: #1b85f3;
              }

              &:checked::after {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                width: 16px;
                height: 16px;
                transform: translate(-50%, -50%);
                background-color: white;
                -webkit-mask: url("../../../../../assets/icons/check.svg")
                  no-repeat center;
                mask: url("../../../../../assets/icons/check.svg") no-repeat
                  center;
                mask-size: contain;
              }
            }

            p {
              font-size: 16px;
              font-weight: 400;
              line-height: 20px;
              color: #808b9a;
            }
          }
        }
      }

      .buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;

        margin-top: auto;

        .button {
          width: 100%;
          height: 54px;

          border-radius: 14px;
          border: none;

          background-color: #1b85f3;

          color: #ffffff;
          font-size: 16px;
          font-weight: 500;
          line-height: 20px;

          display: flex;
          align-items: center;
          justify-content: center;

          transition: all 0.3s ease;
          cursor: pointer;

          &:hover {
            background-color: #1268cc;
          }
        }

        .textButton {
          width: 100%;
          height: 54px;

          border-radius: 14px;
          border: none;

          background-color: transparent;

          color: #ffffff;
          font-size: 16px;
          font-weight: 500;
          line-height: 20px;

          display: flex;
          align-items: center;
          justify-content: center;

          transition: all 0.3s ease;
          cursor: pointer;

          &:hover {
            background-color: #f2f4f6;
          }

          p {
            font-size: 16px;
            font-weight: 500;
            line-height: 20px;
            text-align: center;
            color: #a0aec0;

            .link {
              margin-left: 4px;
              color: #1b85f3;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}
