.background {
  background-color: #2a3240;
  height: 100vh;
  display: flex;

  .sidebar {
    width: 280px;
    height: 100%;
    padding: 0 30px 40px 30px;

    display: flex;
    flex-direction: column;

    .logoContainer {
      width: 220px;
      height: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    hr {
      border: 1.5px solid #606873;
    }

    .pets {
      padding: 42px 0;
      display: flex;
      flex-direction: column;
      gap: 12px;
      align-items: start;

      .title {
        font-size: 16px;
        font-weight: 500;
        line-height: 22px;
        color: #d9dfe6;
      }

      .petsList {
        display: flex;
        .pet {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 8px;

          button {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            background-color: #202326;
            border: 1.5px solid #a0aec0;
            display: flex;
            align-items: center;
            justify-content: center;

            cursor: pointer;

            .plus {
              width: 24px;
              height: 24px;
            }
          }

          span {
            font-size: 14px;
            font-weight: 400;
            line-height: 22px;
            color: #b3becd;
          }
        }
      }
    }

    .links {
      display: flex;
      flex-direction: column;
      gap: 8px;
      align-items: start;
      padding: 42px 0;

      a {
        width: 100%;

        padding: 12px;

        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        color: #b3becd;
        text-decoration: none;

        border-radius: 8px;
        height: 44px;

        display: flex;
        align-items: center;
        gap: 12px;

        img {
          width: 20px;
          height: 20px;
        }

        span {
          font-size: 16px;
          font-weight: 500;
          line-height: 20px;
          color: #f7fafc;
        }

        &.active {
          background-color: #d1e6ff;

          span {
            font-size: 16px;
            font-weight: 600;
            line-height: 20px;
            color: #1b85f3;
          }
        }
      }
    }

    .profile {
      margin-top: auto;
      display: flex;
      align-items: center;
      gap: 12px;
      padding: 12px 16px 12px 12px;
      border-radius: 14px;
      background-color: #606873;

      .profileImage {
        width: 60px;
        height: 60px;
        border-radius: 50%;
      }

      .profileName {
        display: flex;
        flex-direction: column;
        .greeting {
          font-size: 14px;
          font-weight: 400;
          line-height: 22px;
          color: #eceff2;
        }

        .profileNameText {
          font-size: 16px;
          font-weight: 600;
          line-height: 26px;
          color: #ffffff;
        }
      }

      .logout {
        margin-left: auto;
        width: 20px;
        height: 20px;
      }
    }
  }

  .content {
    width: calc(100% - 280px);
    padding: 10px;

    .card {
      background-color: #ffffff;
      height: 100%;

      border-radius: 16px;

      .noPets {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        flex-direction: column;
        gap: 10px;
        .content {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          flex: 1;

          h1 {
            font-size: 34px;
            font-weight: 700;
            line-height: 42px;
            color: #39434f;
            text-align: center;
          }

          p {
            margin-top: 20px;
            font-size: 19px;
            font-weight: 500;
            line-height: 30px;
            color: #808b9a;
            max-width: 396px;
            text-align: center;
          }

          img {
            margin-top: 38px;
          }
        }

        .buttons {
          width: 100%;
          padding: 40px;

          .button {
            width: 100%;
            max-width: 420px;
            margin: 0 auto;
          }
        }
      }
    }
  }
}
