.background {
  background-color: #2a3240;
  height: 100vh;
  display: flex;

  .sidebar {
    width: 280px;
  }

  .content {
    width: calc(100% - 280px);
    padding: 10px;

    .card {
      background-color: #ffffff;
      height: 100%;

      border-radius: 16px;

      .noPets {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        flex-direction: column;
        gap: 10px;
        .content {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          flex: 1;

          h1 {
            font-size: 34px;
            font-weight: 700;
            line-height: 42px;
            color: #39434f;
            text-align: center;
          }

          p {
            margin-top: 20px;
            font-size: 19px;
            font-weight: 500;
            line-height: 30px;
            color: #808b9a;
            max-width: 396px;
            text-align: center;
          }

          img {
            margin-top: 38px;
          }
        }

        .buttons {
          width: 100%;
          padding: 40px;

          .button {
            width: 100%;
            max-width: 420px;
            margin: 0 auto;
          }
        }
      }
    }
  }
}
