.background2 {
  background-color: #fafafa;
}

.page {
  height: 100vh;
  max-height: 100vh;
  width: 100%;

  background: linear-gradient(
    0deg,
    rgb(217, 217, 217) 0%,
    rgba(253, 0, 0, 0) 90%,
    rgba(217, 217, 217, 0) 100%
  );

  box-shadow: 0px 4px 20px -2px #32324705;

  box-shadow: 0px 0px 8px 0px #0c1a4b1a;

  overflow: hidden;

  display: flex;

  .leftSide {
    flex: 1;
    .logo {
      margin: 50px;
    }

    .dog {
      width: 100%;
      height: 100%;
      object-fit: contain;
      transform: translateY(12%) translateX(-10%) scale(1.3);
    }
  }

  .rightSide {
    flex: 1;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px;

    .card {
      background-color: #ffffff;
      border-radius: 20px;
      padding: 70px;
      width: 100%;
      height: 790px;

      display: flex;
      flex-direction: column;

      .topSide {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
        gap: 16px;

        flex: 1;

        .title {
          font-size: 34px;
          font-weight: 700;
          line-height: 42px;
          text-align: center;
          color: #39434f;
        }

        .description {
          font-size: 18px;
          font-weight: 400;
          line-height: 30px;
          text-align: center;
          margin-top: 20px;
          color: #808b9a;
        }

        .form {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          margin-top: 40px;
          margin-bottom: 16px;

          gap: 26px;

          .input {
            width: 100%;
            height: 58px;
            border-radius: 14px;
            border: 1px solid #d9dfe6;
            padding: 18px 16px;

            font-size: 16px;
            font-weight: 500;
            line-height: 18px;
            color: #39434f;

            background-color: #ffffff;
            outline: 2px solid transparent;
            transition: all 0.3s ease;

            &::placeholder {
              font-size: #808b9a;
              font-weight: 400;
              line-height: 18px;
            }

            &:focus {
              border: 1px solid #1b85f3;
              outline: 2px solid #d1e6ff;
            }
          }
        }
      }

      .buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;

        margin-top: auto;

        .button {
          width: 100%;
          height: 54px;

          border-radius: 14px;
          border: none;

          background-color: #1b85f3;

          color: #ffffff;
          font-size: 16px;
          font-weight: 500;
          line-height: 20px;

          display: flex;
          align-items: center;
          justify-content: center;

          transition: all 0.3s ease;
          cursor: pointer;

          &:hover {
            background-color: #1268cc;
          }
        }

        .footerText {
          height: 54px;
          display: flex;
          align-self: center;
          justify-content: center;

          font-size: 16px;
          font-weight: 500;
          line-height: 20px;
          text-align: center;
          color: #a0aec0;

          .link {
            margin-left: 4px;
            color: #1b85f3;
            text-decoration: none;
          }
        }
      }
    }
  }
}
